In [1]:
import pandas as pd

#se define un data frame para cargar el archivo que contiene los datos de entrenamiento
dfspam = pd.read_csv("/Machine Learning/Data/spam.csv")
#se muestra el dataframe
dfspam

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...    0.0
1     martin a posted tassos papadopoulos the greek ...    0.0
2     man threatens explosion in moscow thursday aug...    0.0
3     klez the virus that won t die already the most...    0.0
4      in adding cream to spaghetti carbonara which ...    0.0
...                                                 ...    ...
3011   abc s good morning america ranks it the NUMBE...    1.0
3012   hyperlink hyperlink hyperlink let mortgage le...    1.0
3013   thank you for shopping with us gifts for all ...    1.0
3014   the famous ebay marketing e course learn to s...    1.0
3015   hello this is chinese traditional 子 件 NUMBER世...    1.0

[3016 rows x 2 columns]

In [2]:
dfspam.dropna(subset = ["email"], inplace=True)
dfspam.dropna(subset = ["label"], inplace=True)

dfspam.dropna(axis=0, how='all')

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...    0.0
1     martin a posted tassos papadopoulos the greek ...    0.0
2     man threatens explosion in moscow thursday aug...    0.0
3     klez the virus that won t die already the most...    0.0
4      in adding cream to spaghetti carbonara which ...    0.0
...                                                 ...    ...
3011   abc s good morning america ranks it the NUMBE...    1.0
3012   hyperlink hyperlink hyperlink let mortgage le...    1.0
3013   thank you for shopping with us gifts for all ...    1.0
3014   the famous ebay marketing e course learn to s...    1.0
3015   hello this is chinese traditional 子 件 NUMBER世...    1.0

[2999 rows x 2 columns]

In [3]:
#A continuación se introducirán los datos de entrenamiento y de prueba
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(dfspam.email, dfspam.label, test_size = 0.2, random_state = 25)

In [4]:
len(X_train)

2399

In [5]:
len(X_test)

600

In [6]:
dfspam['email'].head()

0     date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...
1    martin a posted tassos papadopoulos the greek ...
2    man threatens explosion in moscow thursday aug...
3    klez the virus that won t die already the most...
4     in adding cream to spaghetti carbonara which ...
Name: email, dtype: object

In [7]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values.astype('U')) 
#X_train_count = v.fit_transform(dfspam['email'].apply(lambda x: np.str_(x)))
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [8]:
X_train_count

<2399x26453 sparse matrix of type '<class 'numpy.int64'>'
	with 270128 stored elements in Compressed Sparse Row format>

In [9]:
y_train

1971    0.0
2244    0.0
225     0.0
1650    0.0
1014    0.0
       ...
2944    1.0
2199    0.0
2530    1.0
319     0.0
1164    0.0
Name: label, Length: 2399, dtype: float64

In [10]:
from sklearn.naive_bayes import MultinomialNB
modelNB= MultinomialNB()
modelNB.fit(X_train_count,y_train)

MultinomialNB()

In [11]:
emails =[' the tba doctor walks the walk on diabetes case NUMBER case NUMBER male age NUMBER nonsmoker NUMBER NUMBER face type NUMBER diabetic treated with insulin pump diagnosed at age NUMBER ']
emails_count=v.transform(emails)
modelNB.predict(emails_count)

array([1.])

In [12]:
X_test_count = v.transform(X_test)
modelNB.score(X_test_count,y_test)

0.9966666666666667

In [13]:
from sklearn.pipeline import Pipeline
mypipeline= Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [14]:
mypipeline.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [15]:
mypipeline.score(X_test,y_test)

0.9966666666666667